.navbar{
    padding: 15px;
    border: 1px solid @border-grey;
    margin-bottom: 20px;
    .navbar-brand{
        height: auto;
    }
    button.close{
        margin:30px 0;
        padding:5px;
        border: 1px solid @border-grey;
    }
}